/* src/index.css */

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

#root {
  width: 100%;
  height: 100%;
}
