spring:
  application:
    name: employee

  datasource:
    url: jdbc:mysql://localhost:3306/employee_db
    username: root
    password: root

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  mail:
    host: smtp.gmail.com
    port: 465
    username: tejasbhamre8@gmail.com
    password: mheg uvpv iztw lykv
    properties:
      mail:
        smtp:
          auth: true
          ssl:
            enable: true
