spring:
  application:
    name: employee

  datasource:
    url: jdbc:mysql://localhost:3306/employee_db
    username: root
    password: root

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  sendgrid:
    api-key: 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
    from-email: tejasbhamre8@gmail.com

  security:
    encryption:
      key: VIQ0MB0wYUCYXlAJ9J7Pug==
